@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Montserrat:wght@400;700&family=Nunito&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
    
}
.conteudo{
    display: flex;
    justify-content: center;
    text-align: justify;
    width: 100vh;
    height: 100vh;
}
h2{
    color: #137CBF;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
